/* Auth Page */

/* .App-landing {
  position: relative;
} */

/* Headers and Logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Workaround for multiline messages in react-chat-component */
.rce-mbox-text {
  white-space: pre-wrap;
}

.group-chat .rce-mbox-text {
  text-align: center;
  font-size: xx-small;
}

.group-chat .rce-container-mbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-chat .rce-mbox-text:after {
  display: none;
}
